---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ curDomain }}-cert
  namespace: {{ curNamespace }}
spec:
  secretName: {{ domainTlsSecret }}
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  commonName: "*.{{ curDomain }}"
  dnsNames:
  - "{{ curDomain }}"
  - "*.{{ curDomain }}"